# Environment
.env

# Raw API data + processed data
# Keep the empty folders
literature-mining/data/*
!literature-mining/data/.gitkeep


# Tables and figures (large files)
literature-mining/reports/*
!literature-mining/reports/.gitkeep

**/ml_type_model/

.DS_Store
